
@model IEnumerable<FinalCSharp.Models.Footer>

@foreach (var i in Model)
{
    <div class="d-inline-flex align-items-center">
        <p><i class="fa fa-envelope mr-2"></i>@i.email</p>
        <p class="text-body px-3">|</p>
        <p><i class="fa fa-phone-alt mr-2"></i>@i.phone</p>
    </div>
}
